# Logistic Regression Model

In [393]:
# import statements
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os
import pickle

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [394]:
# Read the CSV file :
df = pd.read_csv('C:/Users/tuanf/AndroidStudioProjects/dataset/combine/3rdFilteredCombined_files.csv', header=0)

In [395]:
#Eliminate rows with NaN
df = df.dropna()

In [396]:
#drop columns which are not needed.
df.drop(df.columns[[0, 1, 4, 5]], axis = 1, inplace = True)

In [397]:
# Perform One-Hot Encoding
 
le = LabelEncoder()
label = le.fit_transform(df['BSSID'])
label2 = le.fit_transform(df['NAME'])

In [398]:
df.drop("BSSID", axis=1, inplace=True)
 
# Appending the array to our dataFrame
df["BSSID"] = label

In [399]:
df.drop("NAME", axis=1, inplace=True)
 
# Appending the array to our dataFrame
df["NAME"] = label2

In [400]:
#Separating the features (x) and the labels (y)
X = df.iloc[:,0:2]
X.head()

   LEVEL  BSSID
0    -41     94
1    -41     97
2    -41     96
3    -41     98
4    -42     95

In [401]:
Y = df.iloc[:,2:]
Y.head()

   NAME
0     0
1     0
2     0
3     0
4     0

In [402]:
#Train the model
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state = 0)

In [403]:
classifier = LogisticRegression(solver='liblinear', random_state=0, C=10.0)

In [404]:
classifier.fit(X_train, Y_train.values.ravel())

LogisticRegression(C=10.0, random_state=0, solver='liblinear')

In [405]:
predicted_y = classifier.predict(X_test)
classifier.score(X_test, Y_test)

0.1688483406055798

In [406]:
#sns.set_theme(style="darkgrid")
#sns.relplot(x = "BSSID", y = "LEVEL", col = "NAME", data=df, style = "BSSID", kind = "scatter")
#plt.show()

In [407]:
#Save model using pickle format
pickle.dump(classifier, open('lrmodel.pkl', 'wb'))